*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0 20px;
  background-image: url('Train1.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.navbar {
    position: absolute;
    width: 100%;
    top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    color: #000;
    
}

.navbar-link:hover{
    background-color: grey;
    color: #000;
}

.logo {
    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

.navbar-links {
    color: black;
    display: flex;
    justify-content: flex-end;
}

.navbar-link {
    
    border-radius: 30px;
    margin-left: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 25px;
}

.form-container {
  position: relative;
  max-width: 1000px; 
  width: 90%; 
  padding: 20px;
  background-color: black;
  color: white;
  margin-top: 60px; 
  z-index: 1;
  border-radius: 20px;
}

.form-heading {
  margin: 0;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 10px;
}

.form-subheading {
  color: #d4d4d4;
  margin-bottom: 10px;
}

.form-fields {
  display: flex;
  flex-direction: column;
}

.input,
.textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: 2px solid #767676;
  border-radius: 5px;
  background-color: #212223;
  color: white;
}

.input {
  height: 50px;
}

.textarea {
  height: 150px;
}

.submit-btn {
  width: 50%;
  height: 50px;
  border-radius: 5px;
  background-color: #146132;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .form-heading {
    font-size: 24px;
    line-height: 34px;
  }

  .form-subheading {
    font-size: 16px;
  }

  .input {
    height: 45px;
  }

  .textarea {
    height: 120px;
  }
}
